@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonPop {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	color: #fff;
	font-weight: 600;
	background-color: #38a169;
	border-radius: 0.25rem;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	transition: all 0.3s ease;
}

.buttonPop:hover {
	transform: translateY(-2px);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #4b5563;
}
